USE [ShopHeroes]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 7/14/2016 12:40:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[WorkerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Tier] [int] NOT NULL CONSTRAINT [DF_Worker_Tier]  DEFAULT ((1)),
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Worker] ON 

INSERT [dbo].[Worker] ([WorkerID], [Name], [Title], [Tier]) VALUES (1, N'Robert', N'Armorer', 1)
INSERT [dbo].[Worker] ([WorkerID], [Name], [Title], [Tier]) VALUES (2, N'William', N'Blacksmith', 1)
INSERT [dbo].[Worker] ([WorkerID], [Name], [Title], [Tier]) VALUES (3, N'John', N'Carpenter', 1)
SET IDENTITY_INSERT [dbo].[Worker] OFF
