USE [ShopHeroes]
GO
/****** Object:  Table [dbo].[Hero]    Script Date: 7/14/2016 12:40:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hero](
	[HeroID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[HeroTypeID] [int] NOT NULL CONSTRAINT [DF_Hero_HeroTypeID]  DEFAULT ((1)),
	[Tier] [int] NOT NULL,
 CONSTRAINT [PK_Hero] PRIMARY KEY CLUSTERED 
(
	[HeroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Hero] ON 

INSERT [dbo].[Hero] ([HeroID], [Name], [HeroTypeID], [Tier]) VALUES (1, N'Mila', 2, 2)
INSERT [dbo].[Hero] ([HeroID], [Name], [HeroTypeID], [Tier]) VALUES (2, N'Clovis', 1, 1)
INSERT [dbo].[Hero] ([HeroID], [Name], [HeroTypeID], [Tier]) VALUES (3, N'Palash', 2, 2)
SET IDENTITY_INSERT [dbo].[Hero] OFF
