@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shop Heroes Utils</h1>
    <p class="lead">Random utilities for the Shop Heroes app.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Workers</h2>
        <p>
            This page helps you choose workers based on your skill requirements.
        </p>
        @Html.ActionLink("Workers", "Index", "Workers", null, null)
    </div>
    <div class="col-md-4">
        <h2>This space reserved.</h2>
        <p>This is a reserved space.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Another reserved space.</h2>
        <p>This is another space that is reserved for future use.</p>
        <p>@*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>*@</p>
    </div>
</div>